{% load static %}
<!-- FILEPATH: /C:/Users/ANDONI/projects/sisgomeria/gomeria/administracion/templates/administracion/base/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inicio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'administracion/bootstrap/css/bootstrap.min.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'administracion/base/menu.html' %}
    <div class="container mt-5 pt-5">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'administracion/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
