{% extends "administracion/base/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h4 class="mb-3">Registrar Cliente</h4>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'administracion:crear_cliente' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="Registrar Cliente" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-block">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'administracion/images/user_default.png' %}" alt="img-cliente">
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
{% endblock %}
{% block css %}
    <style>
        label {
            display: block;
        }
        input[type="text"], input[type="email"], input[type="password"]{
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .errorlist{
            list-style: none;
        }
        .errorlist li{
            margin: 0;
            padding: 5px;
            color: red;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            border-radius: 5px;
        }
    </style>
{% endblock css %}

<h1>Crear Servicio</h1>

<form action="{% url 'administracion:crear_servicio' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Crear Servicio" class="btn btn-primary">
</form>